
body {
    background-color: #D36B00;
}
h1 {
    padding: 20px;
    border-radius:  25px;
    border: 3px solid #F1EFDC;
    background-color: #E6D2AA;
    color: #42032C;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Alkalami', serif; */
}
.conteiner {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
img {
    height: 500px; 
    border-radius: 25px;
    margin-top: 20px;
    transition: 500ms;
}
img:hover {
    transform: translateX(5px);
    box-shadow: -15px -15px 33px 0px rgba(66,3,44,0.88);
    -webkit-box-shadow: -15px -15px 33px 0px rgba(66,3,44,0.88);
    -moz-box-shadow: -15px -15px 33px 0px rgba(66,3,44,0.88);
}
button {
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    border: transparent;
    transition: 400ms;
    margin-top: 50px;
    background-color: #F1EFDC;
    color: #42032C;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Alkalami', serif; */
    font-size: 1.2rem;
}
button:hover {
    background-color: transparent;
    border: 1px solid #42032C;
    border-radius: 20px;
    padding: 15px 25px 15px 25px;
    -webkit-text-stroke: 1px;
    margin-top: 45px;

}
button:active {
    background-color: #020202;
    color: #dea302;
    box-shadow: -15px -15px 33px 0px rgba(66,3,44,0.88);
    -webkit-box-shadow: -15px -15px 33px 0px rgba(66,3,44,0.88);
    -moz-box-shadow: -15px -15px 33px 0px rgba(66,3,44,0.88);
}